<script>
    let card = {
        bg: "bg-zinc-500",
        color: 'text-white'
    }
</script>

<svelte:head>
	<title>SVKCL - Dashboard</title>
	<meta name="description" content="SVKCL is a complete component library for creating elegant applications in SvelteKit" />
</svelte:head>


<div class="flex flex-auto items-center justify-between py-24 min-h-full max-h-screen min-w-full max-w-screen">
    
</div>
