<script>
  import { Navlink, NavLogo } from "$lib/nav/navbar";

  export let name = "";
  export const links = [];
  export let logo;
</script>

<nav class="flex flex-nowrap items-center justify-center bg-transparent prose prose-invert min-w-full max-w-screen my-0 p-3 sticky top-0 z-50">
  <NavLogo logo={logo}>
    {name}
  </NavLogo>
  <div class="flex grow items-center justify-start p-3" id="main-menu">
    <Navlink links={links}/>
  </div>
  <div class="justify-end">
    <slot/>
  </div>
</nav>

